<div class="measure_section">
  <div class="conv_title">
    Miles to Kilometers
  </div>
  <form action="/to_km" method="post" accept-charset="utf-8">
    <input type="text" name="miles" id="miles">
    <input type="submit" value="CONVERT TO KILOMETERS">
  </form>
</div>


<div class="measure_section">
  <div class="conv_title">
    Kilometers to Miles
  </div>
  <form action="/to_miles" method="post" accept-charset="utf-8">
    <input type="text" name="kilometers" id="kilometers">
    <input type="submit" value="CONVERT TO MILES">
  </form>
</div>