<!DOCTYPE html>
<html>
<head>
  <title>MILES-KM-MILES</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="/stylesheets/convert.css" type="text/css" />
</head>
<body>
  <div class="wrapper">
    <div class="banner">
      MILES to KM to MILES
      <div class="banner_slogan">
        Convert miles to kilometers or kilometers to miles.
      </div>
    </div>
    <div class="content">

      <%= yield %>
      
    </div>
    <div class="footer">
      App by <a href="http://www.omahaareaman.com" target="_blank">omahaareaman.com</a>
    </div>
  </div> 
</body>
</html>